.outer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.question{
  height: 100px;
  width: 800px;
  position: absolute;
  top:200px;
  display: flex;
  align-items: center;
  padding:0 30px;
  color: #bdbdbd81;
  font-size: 30px;
  font-family: monospace;
}
.answer{
  height: 100px;
  width: 800px;
  position: absolute;
  top:200px;
  display: flex;
  align-items: center;
  padding:0 30px;
  color: #ffffff;
  font-size: 30px;
  font-family: monospace;
  background-color: transparent;
  border:none
}
.input-outer{
  border-radius: 40px;
  position: absolute;
  bottom: 70px;
  padding: 20px 30px;
}
@keyframes blink{
  0% {
    color: #bdbdbd81;
  }
  50% {
    color:red;
  }
  100% {
    color: #bdbdbd81;
  }
}
.wrong{
  animation: blink 500ms;
}
.input-outer.true{
  background-color: green;
}
.input-outer.false{
  background-color: red;
}
.main-input{
  height: 50px;
  width: 800px;
  background-color: transparent;
  color: white;
  border:none;
}
.main-input:focus{
  outline:none;
  font-size: 30px;
  font-family: monospace;
}