.outer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.question,.answer{
  height: 100px;
  width: 800px;
  position: absolute;
  top:200px;
  display: flex;
  align-items: center;
  padding:0 30px;
  color: #bdbdbd81;
  font-size: 30px;
  font-family: monospace;
}
.answer{
  color: #ffffff;
  background-color: transparent;
  border:none
}
.input-outer{
  border-radius: 40px;
  position: absolute;
  bottom: 70px;
  padding: 20px 30px;
}
@keyframes blink{
  0% {
    color: #bdbdbd81;
  }
  50% {
    color:red;
  }
  100% {
    color: #bdbdbd81;
  }
}
.wrong{
  animation: blink 500ms;
}
.keyboard-image{
  border-radius:"10px";
  width:"80%";
  display: none;
}
.result{
  width: 250px;
  font-size: 20px;
  text-align: center;
  margin: 100px;
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
}
.wpm{
  font-size: 25px;
  margin: 20px;
}
.box-down{
  display: flex;
  justify-content: space-between;
}
.parameter,.value{
  margin:10px;
}
.correct .value{
  color:green
}
.incorrect .value{
  color:red
}
.box-down:nth-child(2n){
  background-color: rgb(49, 49, 49);
}
.d-none{
  display: none;
}